/* css reset */

body{

    color: red;
    background-color: burlywood;
    margin = 0px;
    padding = 0px;
    height: 100%
}


.bp{

    height: 100%;
}
.left{ 
       position: absolute;
       left: 36px;
       top: 5px;
       color: white;
       display: inline-block;
       border: 3px solid red;
}
.left img{

    width: 100px;
    line-height: 0px;
    font-size: 25px;
}

.left div{

    text-align: center;
}
.center{
 
      display: block;
      width: 40%;
      margin: 15px auto;
      color: white;
      border: 3px solid green;
}

.right{
 
       position: absolute;
       right: 34px;
       top: 20px;
       color: white;
       display: inline-block;
       border: 3px solid blue;
}

.Navbar{

       display: inline-block;
}

.Navbar li{

       display: inline-block;
       font-size: 18px;
    
}

.Navbar li a{

       color:red;
       text-decoration: none;
       padding: 28px 20px;
}
.Navbar li a:hover, .Navbar li a.active{

    color: grey;
    text-decoration: underline;
    
}

.btn{

    margin: 0px;
    background-color: burlywood;
    padding : 7px 7px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
}

.btn:hover{

    background-color: grey;
}

.container{

    border: 2px solid green;
    margin: 20px 10px;
    padding: 10px 5px;
    width: 33%;
    border:radius: 2px;

}
.cover{
    background-image: url("/gym6.jpg");
    /* max-height: 1000px;
    max-width: 100%; */
    
}